@font-face {
  font-family: "h5u";
  src: url("subset-h5u.eot");
  src: url("subset-h5u.eot?#iefix") format("embedded-opentype"),
    url("subset-h5u.woff2") format("woff2"),
    url("subset-h5u.woff") format("woff"),
    url("subset-h5u.ttf") format("truetype"),
    url("subset-h5u.svg#h5u") format("svg");
  font-weight: normal;
  font-style: normal;
}
