@import "styles/themes/mixins.scss";
@import "styles/themes/params.scss";

.footer {
  &-bc {
    background: url("./images/footer-bc.png") no-repeat;
    background-size: cover;
    background-position: center 0;
  }

  &-info {
    position: relative;
    display: grid;
    justify-content: space-between;
    grid-gap: 40px;
    grid-template-columns: minmax(155px, 260px) minmax(140px, 365px) minmax(
        300px,
        370px
      );
    padding: 48px 22px 35px;
    z-index: 3;
  }

  &-copy {
    color: $white;
    background-color: $codGray;

    &-title {
      display: block;
      color: $silverChalice;
      letter-spacing: 0.75px;
      padding: 20px 15px;
      line-height: 20px;
    }

    &-logo {
      display: inline-block;
      position: relative;
      height: 55px;
      overflow: hidden;
      margin: 20px 0;

      &:after {
        position: absolute;
        content: "";
        right: 0;
        top: 21px;
        width: 68px;
        height: 9px;
        background-color: $white;
        z-index: 1;
      }

      &-img {
        display: block;
        position: relative;
        height: 65px;
        z-index: 2;
      }
    }

    &-wrapper {
      display: grid;
      grid-template-columns: auto auto;
      align-items: center;
      justify-content: space-between;
      grid-gap: 40px;
      min-height: 92px;
    }
  }

  &-box {
    color: $doveGray;
    font-size: 15px;

    &-title {
      color: $white;
      font-weight: 700;
      font-size: 20px;
      padding-bottom: 18px;
      letter-spacing: 0.4px;
    }

    &:first-child {
      .list-footer {
        &:nth-child(2) {
          padding-bottom: 90px;
        }
      }
    }
  }
}

.list-footer {
  &-li {
    padding-bottom: 5px;

    &-a {
      position: relative;
      line-height: 20px;
      padding: 5px 0;

      &:hover {
        color: $gallery;
        padding-left: 12px;
        letter-spacing: 0.6px;

        &:after,
        &:before {
          position: absolute;
          content: "";
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 6px 0 6px 6px;
          border-radius: 5px;
          border-color: transparent transparent transparent $cinnabar;
          z-index: 1;
        }

        &:before {
          border-width: 3px 0 3px 3px;
          border-color: transparent transparent transparent $tuatara;
          left: 0;
          z-index: 2;
        }
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .footer-info {
    grid-template-columns: minmax(155px, 260px) minmax(140px, 365px);
    .footer-box {
      &:last-child {
        grid-column: 1 / span 2;
      }
    }
  }

  .footer-box:first-child .list-footer:nth-child(2) {
    padding-bottom: 20px;
  }

  .list-footer-li-a {
    &:hover {
      padding-left: 0;
      &:after,
      &:before {
        display: none;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .footer {
    text-align: center;

    &-info {
      display: block;
    }

    &-box {
      padding-bottom: 20px;
    }

    &-copy {
      &-wrapper {
        display: block;
      }
    }
  }

  .footer-box:first-child .list-footer:nth-child(2) {
    padding-bottom: 20px;
  }
}
