$icomoon-font-family: "icon" !default;
$icomoon-font-path: "fonts" !default;

$icon-envelope-o: "\f003";
$icon-home: "\f015";
$icon-repeat: "\f01e";
$icon-rotate-right: "\f01e";
$icon-map-marker: "\f041";
$icon-exclamation-circle: "\f06a";
$icon-phone: "\f095";
$icon-wrench: "\f0ad";
$icon-building-o: "\f0f7";
$icon-angle-double-right: "\f101";
$icon-angle-down: "\f107";
$icon-calendar-o: "\f133";
$icon-rocket: "\f135";
$icon-paper-plane: "\f1d8";
$icon-send: "\f1d8";
$icon-history: "\f1da";
$icon-map-pin: "\f276";
$icon-handshake-o: "\f2b5";

