@import "styles/themes/mixins.scss";
@import "styles/themes/params.scss";

.wrapper-menu {
  background-color: $white;
}

.menu {
  position: relative;
  margin: em(18px) 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  font-size: em(17px);
  color: $black;
  font-weight: 600;

  &-logo {
    flex: 1;
    padding-left: em(5px);

    &-img {
      display: inline-block;
    }
  }

  &-nav {
    padding-top: em(5px);
    text-align: right;

    &-lang {
      display: inline-block;
      font-size: em(9px);
      padding-bottom: em(10px);
    }
  }
}

.list-menu,
.list-lang {
  display: flex;

  &-li {
    position: relative;
    color: $silverChalice;
    padding: 0 em(8px);

    &:after {
      position: absolute;
      border-left: 1px solid $silver;
      content: "";
      left: 0;
      top: 0;
      bottom: 0;
    }

    &:first-child {
      &:after {
        display: none;
      }
    }

    &:last-child {
      padding-right: 0;
    }

    &-a {
      padding: em(1px) em(8px);

      &.active {
        font-weight: 700;
        color: $burntSienna;
      }
    }
  }
}

.list-menu {
  &-li {
    padding: 0 em(13px);
    color: $black;

    &:after {
      top: 8px;
      bottom: 4px;
    }

    &-a {
      padding: em(2px) em(5px);

      &:hover {
        color: $burntSienna;

        .submenu {
          display: block;
        }
      }
    }
  }
}
.submenu {
  display: none;
  position: absolute;
  left: -6px;
  z-index: 4;

  &:after {
    position: absolute;
    content: "";
    left: 55px;
    top: 13px;
    width: 12px;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid $white;
  }
}

.list-submenu {
  box-shadow: 0 0 20px -5px $silverChalice;
  text-align: left;
  background-color: $white;
  color: $scorpion;
  width: 435px;
  overflow: hidden;
  border-radius: 7px;
  font-size: em(14px);
  margin-top: em(20px);

  &-li {
    position: relative;

    &:first-child {
      a {
        &:before {
          display: none;
        }
      }
    }

    &-a {
      position: relative;
      padding: em(20px) em(30px);

      &:before {
        position: absolute;
        content: "";
        top: 0;
        left: 30px;
        right: 30px;
        border-top: 1px solid $gallery;
      }

      &:after {
        position: absolute;
        content: "";
        left: 0;
        border-left: 3px solid $beautyBush;
        top: 0;
        bottom: 0;
      }

      &:hover {
        color: $cinnabar;

        &:after {
          border-left: 4px solid $cinnabar;
        }
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  .menu {
    display: block;
  }

  .list-lang {
    position: absolute;
    top: 0;
    right: 0;
  }

  .list-menu {
    display: block;
    text-align: center;
  }

  .list-menu-li,
  .list-lang-li {
    padding: 0;

    &:after {
      display: none;
    }
  }

  .submenu {
    right: 0;
    left: 0;
    top: 7px;

    &:after {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .list-submenu {
    width: 100%;
  }
}
