@import "styles/themes/mixins.scss";
@import "styles/themes/params.scss";

.container {
  max-width: 1210px;
  margin: 0 auto;
  padding: 0 10px;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px 5px;

  &-bc {
    color: $silver;
    background-color: $mineShaft;
  }

  &-products {
    position: relative;
    padding: 5px 20px 5px 12px;
    letter-spacing: 0.5px;
    text-transform: uppercase;

    &-arrow {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 5px;
      transition: transform 0.5s;
    }

    &:hover {
      color: $white;

      .nav-products-arrow {
        transform: rotate(180deg) translateY(50%);
      }

      .submenu {
        display: block;
      }
    }
  }

  &-list {
    display: flex;
    flex-wrap: wrap;

    &-li {
      position: relative;
      padding: 0 15px;
      font-weight: 600;
      letter-spacing: 0.6px;

      &:before {
        position: absolute;
        content: "";
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        height: 10px;
        border-right: 1px solid $scorpion;
      }

      &:first-child {
        padding-left: 10px;
      }

      &:last-child {
        padding-right: 0;
        &:before {
          display: none;
        }
      }

      &-a {
        color: $silver;
        padding: 5px 0;
        position: relative;

        &:hover,
        &.active {
          color: $white;

          &:after {
            position: absolute;
            content: "";
            left: 0;
            right: 0;
            bottom: -5px;
            border-bottom: 3px solid $burntSienna;
          }
        }
      }
    }
  }
}

.section {
  position: relative;

  &-bc {
    position: absolute;
    background: url("../images/zakladniInfoBc.png") no-repeat;
    background-size: cover;
    z-index: 1;
    width: 100%;
    overflow: hidden;
    top: 0;
    height: 275px;
  }
}

.content {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 2;

  &-box {
    color: $mineShaft;
    margin: 320px 5px;

    &-wrapper {
      padding: 35px;
    }

    &:first-child {
      max-width: 880px;
      padding: 15px;
      border-radius: 10px;
      background-color: $white;
      box-shadow: 0 0 20px -5px $silverChalice;
      margin: 140px 5px 50px;
    }
  }

  &-link {
    display: flex;
    flex-wrap: wrap;
    font-size: 11px;
    color: $gray;

    &-li {
      padding: 0 10px;
      position: relative;

      &:after,
      &:before {
        content: "";
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
        left: 0;
        border-top: 3px solid transparent;
        border-left: 6px solid $scorpion;
        border-bottom: 3px solid transparent;
        z-index: 1;
      }

      &:before {
        left: -2px;
        z-index: 2;
        border-left-color: $white;
      }

      &:first-child {
        padding-left: 0;
        &:after,
        &:before {
          display: none;
        }
      }

      &-a {
        font-size: 10px;
        color: $scorpion;

        &:hover,
        &.active {
          text-decoration: underline;
        }

        &-i {
          font-size: 14px;
          color: inherit;
        }
      }
    }
  }

  &-title {
    font-size: 53px;
    padding: 5px 100px 18px 0;
    letter-spacing: -0.5px;
    font-weight: 300;
  }

  &-description {
    font-size: 14px;
    padding: 0 40px 30px 35px;
    line-height: 24px;
    letter-spacing: 0.2px;
  }

  &-img {
    padding: 30px 0;
    width: 100%;
  }

  &-contact {
    position: relative;
    margin: 315px 25px;
    padding: 0 10px;
    max-width: 220px;
    width: 100%;

    &:after {
      position: absolute;
      content: "";
      left: 0;
      top: 2px;
      height: 18px;
      border-left: 3px solid $cinnabar;
    }

    &-title {
      font-size: 25px;
      padding-bottom: 25px;
      letter-spacing: -1px;
    }

    &-link {
      position: relative;
      padding-left: 30px;
      margin-bottom: 22px;
      letter-spacing: 0.5px;

      i {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        columns: $cinnabar;
      }
    }

    &-form {
      position: relative;
      // padding: 5px 0 0 5px;
      width: 200px;
      height: 45px;
      background-color: #fff;
      border-radius: 10px;
      border: 2px solid $cinnabar;
      color: $burntSienna;
      font-size: 15px;
      // text-align: center;
      padding: 13px 26px;

      i {
        position: absolute;
        right: 25px;
        top: 50%;
        transform: translateY(-50%);
        columns: $cinnabar;
      }

      &:after,
      &:before {
        //   border-top: 3px solid transparent;
        //   border-left: 5px solid $cinnabar;
        //   border-bottom: 3px solid transparent;
        // }
        // &:after {
        //   right: 35px;
        //   transform: initial;
        //   border-top: 3px solid transparent;
        //   border-left: 5px solid $white;
        //   border-bottom: 3px solid transparent;
      }
    }
  }
}

// .input-form {
//   @extend .title-secondary;

//   background-color: $super-light-grey;
//   border-radius: 5px;
//   border: 1px solid transparent;
//   outline: none;
//   color: inherit;
//   width: 100%;
//   padding: 7px;
//   height: 30px;
//   transition: border-color 0.5s;

//   &:hover {
//     border-color: rgba(0, 0, 0, 0.5);
//   }

//   &:active,
//   &:focus {
//     border-color: inherit;
//   }
// }

// .textarea-form {
//   @extend .title-secondary;
//   font-family: Arial, Helvetica, sans-serif;
//   background-color: $formInputDefault;
//   vertical-align: top;
//   color: inherit;
//   resize: none;
//   overflow: auto;
//   border: 1px solid transparent;
//   outline: none;
//   border-radius: 3px;
//   width: 100%;
//   height: 100px;
//   padding: 5px 7px;
//   transition: border-color 0.5s;

//   &:hover {
//     border-color: rgba(0, 0, 0, 0.5);
//   }

//   &:active,
//   &:focus {
//     border-color: inherit;
//   }
// }

// .holder-select {
//   display: inline-block;
//   vertical-align: middle;
//   max-width: 250px;
//   width: 100%;
// }

// [placeholder] {
//   @include placeholder(rgba(0, 0, 0, 0.35));
// }

// input[disabled],
// textarea[disabled] {
//   background-color: transparent;
//   cursor: not-allowed;
//   border-radius: 0;
// }

// input:-webkit-autofill,
// input:-webkit-autofill:hover,
// input:-webkit-autofill:focus,
// input:-webkit-autofill:active {
//   border: none;
//   -webkit-text-fill-color: inherit;
//   -webkit-box-shadow: 0 0 0px 1000px rgb(216, 243, 253) inset;
//   transition: background-color 5000s ease-in-out 0s;
// }
