// global font size
$browser-context: 16px;

//colorPalette
$white: #fff;
$gallery: #eaeaea;
$black: #000;
$silver: #c8c8c8;
$silverChalice: #a8a8a8;
$beautyBush: #eec7c3;
$burntSienna: #ec594d;
$cinnabar: #eb4637;
$scorpion: #5f5f5f;
$doveGray: #737272;
$codGray: #1c1c1c;
$tuatara: #2d2c2b;
$mineShaft: #2a2a2a;
$gray: #929292;
